<div id="container">
<script src="ajaxFilter.js"></script>
<div class="leftContainer">
  Filter movies by:
  <form method="GET" action="" id="filterForm">
   <input type="radio" name="filter" value="default" checked="true">Order Added<br>
   <input type="radio" name="filter" value="title">Title (A-Z)<br>
   <input type="radio" name="filter" value="genre">Genre<br>
   <input type="radio" name="filter" value="year">Year<br>
   <input type="radio" name="filter" value="director">Director<br>
   <input type="submit" value="Apply Filter" id="filterBtn">
  </form>
</div>

<div class="movies">
<h1>All Movies</h1>
{{#if user}}<form method="POST" action="/addToList">{{/if}}
<table>
  <thead>
    <th>Title</th>
    <th>Year</th>
    <th>Director</th>
    <th>Genre</th>
    {{#if user}}<th>Add to My List</th>{{/if}}
  </thead>
  <tbody id="movie-list">
    {{#each movies as |movie|}}
    <tr>
      <td>{{movie.name}}</td> 
      <td>{{movie.year}}</td> 
      <td>{{movie.director}}</td>
      <td>{{movie.genre}}</td>
      {{#if ../user}}<td><center><input type="checkbox" name="add" value="{{movie.name}}"></center></td>{{/if}}
    </tr>
    {{/each}}
  </tbody>
</table>
{{#if user}}<br><center><input type="submit" value="Add Movie(s) to Watch List"></center>{{/if}}
</form>
</div>
</div>