<h1>Add A Movie</h2>
{{#if msg}}
{{msg}}
{{/if}}
<form method="POST" action="">
Title: <input type="text" name="title">
Genre: <select name="genre">
  <option value="SciFi">Sci-Fi</option>
  <option value="Thriller">Thriller</option>
  <option value="Romance">Romance</option>
  <option value="Horror">Horror</option>
  <option value="Documentary">Documentary</option>
  <option value="Drama">Drama</option>
  <option value="Action">Action</option>
  <option value="Animation">Animation</option>
  <option value="Historical">Historical</option>
  <option value="Miscellaneous">Miscellaneous</option>
</select>
Year [optional]: <input type="number" min="1900" max="2030" step="1" value="2017" name="year"/>
Director [optional]: <input type="text" name="director">
<input type="submit" value="Add Movie">
</form>
<hr>
{{#each user}}
{{#if @last}}
<h1>{{username}}'s Movies</h1>
<ul>
<form method="POST" action="/update">
{{#each movies as |movie|}}
{{#if movie.seen}}<s>{{/if}}
<li>{{movie.name}} <i>{{movie.year}}</i> | Genre: {{movie.genre}} {{#unless seen}}| Seen It? <input type="checkbox" name="seen" value="{{movie.name}}">{{/unless}}</li>
{{#if movie.seen}}</s>{{/if}}
{{/each}}
</ul>
<input type="submit" value="Mark Movie(s) as Seen">
{{/if}}
{{/each}}
</form>